<%= simple_form_for [@restaurant,@menu] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="#">
      <div class="file-field input-field gallery_picture">
        <div class="btn">
          <span>Upload file</span>
          <%= f.input_field :image %>
        </div>
      <input class="file-path validate" type="text"/>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
