<h1>My Menus</h1>

  <div class="row">
    <% @menus.each do |menu| %>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="<%=menu.image.url%>">
            </div>
            <div class="card-action">
              <%= link_to 'Delete', [@restaurant,menu], method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </div>
    <% end %>
  </div>

<%= link_to 'New Menu', new_restaurant_menu_path, class: "btn waves-effect" %>
