<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'> -->
  <!-- <link rel="stylesheet" type="text/css" href="http://kenwheeler.github.io/slick/css/style.css"/> -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/jgthms/bulma/master/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="http://kenwheeler.github.io/slick/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="http://kenwheeler.github.io/slick/slick/slick-theme.css"/>

</head>
<body>
  <section class="hero is-info is-bold is-fullheight">
    <div class="hero-content columns is-mobile" align="center">
<!--      <div class="column is-10" style="border:0.5px lightgrey solid; min-height:30%; min-width:30%"> -->
          <div class="column is-5" style="position: relative; font-size: -webkit-xx-large;font-family: Trebuchet MS;"><h1 style="text-align:centre;">What's cooking?</h1></div>
        <div class="column is-5" style="margin:10px;"><img src="/chef.png" style="min-height:25%; width:25%;"></div>

      </div>
    </div>
  </div>
</section>
</body>
</html>
