
<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://bulma.io/css/main.css">
</head>

<body>

<section class="hero is-fullheight" style="background-color: purple;">
    <div class="hero-content" id="hero_content_id">
        <span style="text-align:center; font-size:2.5em; vertical-align:middle">
            <strong style="color:white; padding-right:5px;">
                Get Lucky!
            </strong>
            <i class="fa fa-trophy fa-5" style="color:white; vertical-align:middle; margin-right:5px;"></i>
        </span>
    </div>
</section>

  <style type="text/css">
    @media screen and (max-width: 979px) {
      .title.is-2 .icon.is-large {
        display: none;
      }
    }

    .fa{
        font-size: 1.75em;
        vertical-align: -moz-middle-with-baseline;
        vertical-align: -webkit-baseline-middle;
    }

    .title.is-2 {
      position: relative;
    }

    .title.is-2 a {
      color: #222324;
    }

    .title.is-2 a:hover {
      color: #1fc8db;
    }

    .title.is-2 .icon.is-large {
      left: -72px;
      position: absolute;
      top: -1px;
    }

    .hero .title.is-2 a {
      color: white;
    }

    .hero .title.is-2 a:hover {
      color: white;
    }

    #hero_content_id {
        padding: 5%;
        padding-top: 2%;
    }

    .blur {
   color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
  </style>

  </body>
</html>
