
<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/bulma.css">
</head>

<body>

<section class="hero is-fullheight" style="background-color: purple;">
    <div class="hero-content" id="hero_content_id">
    <span style="text-align:left; font-size:2.5em; color: white;">Trivia</span>
    <hr style="margin-top:0px;">

    <span id="reviews_span" class = "columns">
        <div class="card column" id="card-1" style="margin:10px">
            Is your name this?
            <hr style="margin:7px;">
            <div class = "card-content columns is-mobile" style="padding:5px;">
                <div class="column" id="yes-btn-1"><BUTTON class="button is-primary" style="width: 100px">Yes</BUTTON></div>
                <div class="column" id="no-btn-1"><BUTTON class="button is-primary" style="width: 100px">No</BUTTON></div>
            </div>
        </div>
        <div class="card column" id="card-2" style="margin:10px">
            Some other question please!!!
            <hr style="margin:7px;">
            <div class = "card-content columns is-mobile" style="padding:5px;">
                <div class="column" id="yes-btn-2"><BUTTON class="button is-primary" style="width: 100px">Yes</BUTTON></div>
                <div class="column" id="no-btn-2"><BUTTON class="button is-primary" style="width: 100px">No</BUTTON></div>
            </div>
        </div>
        <div class="card column" id="card-3" style="margin:10px">
            Please someone suggest some other question.
            <hr style="margin:7px;">
            <div class = "card-content columns is-mobile" style="padding:5px;">
                <div class="column" id="yes-btn-3"><BUTTON class="button is-primary" style="width: 100px">Yes</BUTTON></div>
                <div class="column" id="no-btn-3"><BUTTON class="button is-primary" style="width: 100px">No</BUTTON></div>
            </div>
        </div>
        <div class="card column" id="card-4" style="margin:10px">
            Seriously! Arn't you tired;
            <hr style="margin:7px;">
            <div class = "card-content columns is-mobile" style="padding:5px;">
                <div class="column" id="yes-btn-4"><BUTTON class="button is-primary" style="width: 100px">Yes</BUTTON></div>
                <div class="column" id="no-btn-4"><BUTTON class="button is-primary" style="width: 100px">No</BUTTON></div>
            </div>
        </div>
        <div class="card column" id="card-5" style="margin:10px">
            <figure class="card-image is-4x3">
                <img src="/sax.gif">
            </figure>
            Congrats you won!!! Your special coupon code is <strong>30HACKS</strong>.
            <hr style="margin:7px;">
            <div class = "card-content columns is-mobile" style="padding:5px;">
                <div class="column" id="yes-btn-5"><BUTTON class="button is-primary" style="width: 100px">K Bruh!</BUTTON></div>
            </div>
        </div>
        <div class="card column" id="card-6" style="margin:10px">
            <figure class="card-image is-4x3">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdhmaxMK5j-ZCi-lCp1QzCp7xkzCggzKQNftckl1CAobCtnr7P">
            </figure>
            Sorry wrong answer.
            <hr style="margin:7px;">
            <div class = "card-content columns is-mobile" style="padding:5px;">
                <div class="column" id="yes-btn-5"><BUTTON class="button is-primary" style="width: 100px">K Bruh!</BUTTON></div>
            </div>
        </div>
    </span>

  </div>
</div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
      $('#card-2').fadeToggle(0);
      $('#card-3').fadeToggle(0);
      $('#card-4').fadeToggle(0);
      $('#card-5').fadeToggle(0);
      $('#card-6').fadeToggle(0);
    });
    $('#yes-btn-1').click(function() {
      $('#card-1').fadeToggle(0);
      $('#card-2').fadeToggle(500);
    })
    $('#yes-btn-2').click(function() {
      $('#card-2').fadeToggle(0);
      $('#card-3').fadeToggle(500);
    })
    $('#yes-btn-3').click(function() {
      $('#card-3').fadeToggle(0);
      $('#card-4').fadeToggle(500);
    })
    $('#yes-btn-4').click(function() {
      $('#card-4').fadeToggle(0);
      $('#card-5').fadeToggle(500);
    })
    $('#no-btn-1').click(function() {
      $('#card-1').fadeToggle(0);
      $('#card-6').fadeToggle(500);
    })
    $('#no-btn-2').click(function() {
      $('#card-2').fadeToggle(0);
      $('#card-6').fadeToggle(500);
    })
    $('#no-btn-3').click(function() {
      $('#card-3').fadeToggle(0);
      $('#card-6').fadeToggle(500);
    })
    $('#no-btn-4').click(function() {
      $('#card-4').fadeToggle(0);
      $('#card-6').fadeToggle(500);
    })

</script>
  <style type="text/css">
    @media screen and (max-width: 979px) {
      .title.is-2 .icon.is-large {
        display: none;
      }
    }


    .fa{
        font-size: 1.75em;
        vertical-align: -moz-middle-with-baseline;
        vertical-align: -webkit-baseline-middle;
    }

    .title.is-2 {
      position: relative;
    }

    .title.is-2 a {
      color: #222324;
    }

    .title.is-2 a:hover {
      color: #1fc8db;
    }

    .title.is-2 .icon.is-large {
      left: -72px;
      position: absolute;
      top: -1px;
    }

    .hero .title.is-2 a {
      color: white;
    }

    .hero .title.is-2 a:hover {
      color: white;
    }

    #hero_content_id {
        padding: 5%;
    }
  </style>

  </body>
</html>
