

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'> -->
<!-- <link rel="stylesheet" type="text/css" href="http://kenwheeler.github.io/slick/css/style.css"/> -->
  <link rel="stylesheet" href="/bulma.css">
  <link rel="stylesheet" type="text/css" href="/slick.css"/>
<link rel="stylesheet" type="text/css" href="/slick-theme.css"/>
</head>
<body>
  <section class="hero is-info is-bold is-fullheight">
    <div class="hero-content" align="center" style="background-color:black;">
        <div class="container">
            <h1 style="font-size:xx-large">Book a Cab</h1>
          </div>
      </div>
    </div>
  </section>



</body>
</html>
