
<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Label Widget</title>
  <meta name="description" content="Bulma is a CSS framework based on Flexbox and built with Sass
">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/jgthms/bulma/master/css/bulma.min.css">
</head>

  <body>
    <section class="hero is-info is-left is-bold is-fullheight">
  <div class="hero-content">
    <div class="container">
      <p class="title">
        <%= @text.name %>
      </p>
      <div class="subtitle">
        <%= raw @text.text %>
      </div>
    </div>
  </div>

</section>
  </body>
</html>
