  <nav class="" role="navigation">

    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">SpoonE</a>
      <ul class="right hide-on-med-and-down">
        <%= render 'layouts/navigation_links' %>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
